@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form>

    <label for="assignments_Input">Assignments Grade Percent (50% Weight)</label>
    <input name="assignments_Input" id="assignments_Input" type="number" />
    <br />
    <label for="gp_Input">Group Project Grade Percent (10% Weight)</label>
    <input name="gp_Input" type="number" id="gp_Input" />
    <br />
    <label for="quiz_Input">Quiz Grade Percent (10% Weight)</label>
    <input name="quiz_Input" type="number" id="quiz_Input" />
    <br />
    <label for="midterm_Input">Midterm Grade Percent (10% Weight)</label>
    <input name="midterm_Input" type="number" id="midterm_Input" />
    <br />
    <label for="final_Input">Final Grade Percent (10% Weight)</label>
    <input name="final_Input" type="number" id="final_Input" />
    <br />
    <label for="intex_Input">INTEXGrade Percent (10% Weight)</label>
    <input name="intex_Input" type="number" id="intex_Input" />
    <br />

    <button id="calc_grade_submit" type="button"> Check Grade</button>
</form>
<h2 id="output"></h2>
