@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 5 Page";
}




<h1>Andrew Fisher</h1>
<img src="img/moab22.JPEG" style="width: 300px" />
<p>
    xIn this class, I'm excited to learn more about web development more generally but also specifically C#.  I have heard the ASP .NET CORE Framework is great for creating applications that exist on the web and mobile, which seems awesome.  Also, I am excited to be learning more about a Strongly Typed Language, which I think will be really good for my career.
</p>
<h3>Jobs I'm Interested in:</h3>
<ul>
    <li>Software Developer</li>
    <li>Full-Stack Web Developer</li>
    <li>Product Manager</li>
</ul>

